{% extends 'shop/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

    <h3 class="mb-3">Избранные категории товаров</h3>
    <h3 class="mb-3">Популярные товары</h3>
    <div class="row mr-0">

        {% for product in top_products %}
            <div class="col-lg-2 mb-3">
                <a href="{% url 'product' product.id %} ">
                    <h4 class="mb-2">{{ product.name }}</h4>
                    <h5 class="mb-2">{{ product.description }}</h5>
                </a>
                <p class="mb-0"><strong>Цена:</strong> {{ product.price }}$</p>
                <p class="mb-0"><strong>Отзывов:</strong> {{ product.review_count }}</p>
            </div>
        {% endfor %}

    </div>
    <h3>Ограниченный тираж</h3>



{% endblock %}