<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>layout</h1>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="{% url 'account_home' %}">Account Home</a></li>
    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer></footer>

</body>
</html>