{% extends 'shop/layout.html' %}

{% block title %}Все товары{% endblock %}

{% block content %}

    <h3 class="mb-3">Все товары</h3>
    <div class="row mr-0">

        {% for product in products %}
            <div class="col-lg-2 mb-3">
                <a href="{% url 'product' product.id %} ">
                    <h4 class="mb-0">{{ product.name }}</h4>
                    <h5 class="mb-0">{{ product.description }}</h5>
                </a>
                <p class="mb-0"><strong>Цена:</strong> {{ product.price }}$</p>
                <p class="mb-0"><strong>Отзывов:</strong> {{ product.review_count }}</p>
            </div>
        {% endfor %}

    </div>

{% endblock %}